### Files/data
data/
previous*/

### Project
*.html
config.yml
renv/library/
renv/python/
renv/staging/

### Ignore everything in this folder…
local_gitignore/*
### …except this file:
!local_gitignore/.gitkeep 
